/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap'); /* PT Serif   */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


@import "normalize.css";
        /* npm install modern-normalize
          Resets elements for browser consistency.  
          https://www.npmjs.com/package/modern-normalize
        */     


  /* Component-specific stylesheets, if any. 
    @import "component1.css";   
  */

/*   ----- Variables  -----  */
:root {
    --cloudyGray: rgba(190, 204, 216, 0.8);    
    --darkSlateGreen: #435252;
    --peach: #EDAD80;
    --beige: #C6AD93;
    --matteTan: #A68E80;
    
  }
  
/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    background-image: url(".//images/compressed-background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;

    color: var(--cloudyGray);
    font-family: 'PT Serif', serif;
    margin: 0 auto; 
    padding: 0; 
    max-width: 890px; 
    line-height: 1.5; 
    font-family: 'PT Serif', serif;
  
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    font-family: 'Cinzel Decorative', cursive;    
    background-color: var( --matteTan);
    color: var(--darkSlateGreen);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 20px; 
    margin: 0;
    margin-left: auto;
    margin-right: auto;  
  }

  main {
    background-color: var(--darkSlateGreen);
    color:var(--cloudyGray);
    padding: 30px; 

  }
  section {}
  article {}
      #topic1 {}
      #topic2 {}
  div {}
  aside {}

  footer {
    display: flex;
    justify-content: center;
    color: var(--darkSlateGreen);
    margin-top: auto; 
    padding: 10px; 
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {}
  a:hover {}
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: var(--cloudyGray);
    padding: 10px 0; 
    border-bottom: var(--cloudyGray);

  }
  nav a {
    text-decoration: none;
    color: var(--darkSlateGreen);
    font-size: 15px;
    padding: 8px 15px; 
    border: 2px solid var(--matteTan); 
    border-radius: 8px;    
    margin: 2%;
  
  }
  nav a:hover {
    background-color: var(--matteTan);
    color: var(--darkSlateGreen); 
  }
  
  /* Local Nav */ 
.local { 
  display: flex;
  justify-content: space-evenly;
  background-color: var(--darkSlateGreen);
  padding: 10px 0; 
  border-radius: 0.5px;
  border-bottom: 3px solid var(--matteTan);
  position: relative;
}

.local a { 
  text-decoration: none;
  color: var(--cloudyGray);
  padding: 8px 15px; 
  border: 2px solid var(--cloudyGray); 
  border-radius: 8px; 
}

  
.local a:hover {
    background-color: var(--peach);
    color: var(--cloudyGray); 
  }


  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {} 
  h1 {
    text-align: center;
  } 
  h2 {
    display: flex; 
    justify-content: center;
    font-family: 'Cinzel Decorative', cursive;    
    font-size: 35px;
    color: var(--cloudyGray);
  }
  h3 {
    font-family: 'Cinzel Decorative', cursive;    
    color: var(--peach);
    
  }
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {
    font-weight: bolder;
    color: var(--matteTan);
  }
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {}
  caption {}
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) {}
  th {}
  td {}
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {}
  fieldset {}
    legend {}
  label {}
    button {}
    input {}
    output {}
    meter {}
    progress {}
    select {}
      optgroup {}
      option {}
    textarea {}
  
  /* ----- Media ----- */
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 1% 2% 1%; 
    margin-top: 5px;

  }
  figcaption {
    text-align: center; 
  }
  
  figure img {
    width: 100%; 
    margin: 0; 
    padding: 0; 

  }
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}

  .favicon { 
    width: 30px; 
    height: 30px
  }
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .Gallery {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0; 
    
  }
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  